@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/*nav-bar*/

.nav-style {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    height: 75px;
    margin-top: 30px;
    
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
    margin-right: 150px;
    padding: 11px 0px;
    margin-top: 30px;   
}

.font-clr{
    color: #8987A1;
}

.fa-cart-shopping{
    height: 24px;
    width: 24px;
}

/*banner*/

.banner-title{
    font-size: 65px ;
    font-weight: bold;
    width: 570px;
}
.description{
     color: #C4C7CD;
     width: 570px;
}
.hero-flower{
    display: flex;
    justify-content: right;
    padding-bottom: 300px;
    margin-top: -300px;
}

.banner-padding{
    padding: 150px 150px 0px 150px;
}



































.orange{
    color: #E95A08;
}